rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read and write their own user document
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Default deny all other reads/writes
    // We will add more specific rules for other collections
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
