@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

@layer base {
  :root {
    --background: 150 14% 95%;
    --foreground: 240 10% 3.9%;
    --card: 150 14% 95%;
    --card-foreground: 240 10% 3.9%;
    --popover: 150 14% 95%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 158 25% 58%;
    --primary-foreground: 158 25% 98%;
    --secondary: 158 15% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 158 15% 90%;
    --muted-foreground: 240 5% 45%;
    --accent: 16 100% 66%;
    --accent-foreground: 16 100% 5%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 158 10% 85%;
    --input: 158 10% 88%;
    --ring: 158 25% 58%;
    --chart-1: 158 40% 50%;
    --chart-2: 16 80% 60%;
    --chart-3: 180 40% 40%;
    --chart-4: 200 50% 55%;
    --chart-5: 140 40% 60%;
    --radius: 0.5rem;
    
    /* Sidebar variables */
    --sidebar-background: 240 10% 3.9%; /* Darker for contrast */
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 158 25% 58%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 10% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 10% 15%;
    --sidebar-ring: 158 25% 58%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 158 25% 58%;
    --primary-foreground: 158 25% 5%;
    --secondary: 240 10% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 10% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 16 100% 66%;
    --accent-foreground: 16 100% 5%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 10% 15%;
    --input: 240 10% 15%;
    --ring: 158 25% 58%;
    --chart-1: 158 40% 50%;
    --chart-2: 16 80% 60%;
    --chart-3: 180 40% 40%;
    --chart-4: 200 50% 55%;
    --chart-5: 140 40% 60%;

    /* Sidebar variables */
    --sidebar-background: 240 10% 3.9%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 158 25% 58%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 10% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 10% 15%;
    --sidebar-ring: 158 25% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
